@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    position: relative;
    /* min-height: 100vh; */
    height: 2500px;
    width: 100%;
    overflow:scroll;
}
.sidebar{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #ffffff;
    padding: 6px 14px;
    transition: all 0.5s ease;
}
.sidebar h1{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 24px;
    color: #0c0d36;
    /* color:#15b2d5 */
}
.sidebar.active{
    width:240px ;
}
.sidebar .logo-content{
    margin-bottom: 30px;
}
.sidebar.active .logo-content{
    margin-bottom: 30px;
}
.sidebar .logo-content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .logo-content .logo{
    opacity: 1;
}
.sidebar .logo-content h2{  
    padding-top: 10px;
    padding-left: 10px;
    font-size: 24px;
    color: #0c0d36;
    font-weight: bold;
}
.sidebar #btn_navbar{
    position: absolute;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar.active #btn_navbar{
    left: 90%;
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    /* margin-top: 20px; */
}
.sidebar ul li a{
    color: rgb(19, 18, 18);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li.active{
    background: #068EAC;
    border-radius: 12px; 
}
.sidebar ul li.active a{
    color: #fff;
}
.sidebar ul li a:hover{
    background: #a9e1ee;
    color: black;
}
.sidebar .title{
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .title{
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center; 
}
.page-content{
    padding-top: 20px;
    padding-left: 20px;
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
    background: #f5f5fb;
}
.page-content .text{
    font-size: 25px;
    font-weight: 500;
    margin: 12px;
}
.sidebar.active ~ .page-content{
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
}
.breadcrumb{
    padding-left: 0;
    background: #f5f5fb;
}
.card{
    /* border-radius: 10px ;  */
    background: #fefefe;
    box-shadow: 0px 4px 15px #068EAC;
    border-radius: 20px;
    border-style: solid;
  border-color: #068EAC;
    /* border: none; */
    text-decoration: none !important;
}
.card i{
    color: #068EAC;
}
.card .card-title{
    font-size: 16px;
      color: #c5c5c5;
}
.card .card-text{
    font-weight: 600;
      font-size: 32px;
      color: #0c0d36;
}
.card .curve_chart{
    padding-left: 150px;
    width: 90%;
    height: 500px;
    border-radius: 10px;
}
#curve_chart{
    /* padding: 10px; */
}

@media(max-width:991px){
    body{
        height: 1350px;
    }
    .card .card-text{
        font-size: 20px;
    }
    .card .curve_chart{
        padding-left: 100px;
        width: 90%;
        height: 300px;
    }
  }
  @media(max-width:375px){
    .card .card-text{
        font-size: 18px;
    }
  }
